<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="signup-form">
    <h1>User Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username" >Username:</label>
        <input type="text" id="username" name="username" required class="txt">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="txt">
        <br>
        <input type="submit" value="Login" class="signup-btn">
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>
</body>
</html>
